@charset "UTF-8";
body {
  margin: auto;
  max-width: 1440px;
}

#site-navigation-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 146px;
}
#site-navigation-header .logo {
  margin-right: auto;
}
#site-navigation-header .logo img {
  width: 216px;
  height: 14px;
}
#site-navigation-header ul {
  list-style: none;
  display: flex;
  gap: 45px;
}
#site-navigation-header ul a {
  text-decoration: none;
  color: #000;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#site-navigation-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}
#site-navigation-footer ul {
  list-style: none;
  display: flex;
}
#site-navigation-footer ul li {
  margin-right: 86px;
}
#site-navigation-footer ul a {
  text-decoration: none;
  color: #000;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#site-navigation-footer .rights-reserved {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  color: #000;
}

#contact-modal {
  display: none;
  background: white;
  width: 597px;
  height: 769px;
  border: 5px solid #000;
  z-index: 9999;
  overflow: hidden;
  margin: auto;
}
#contact-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact-modal form p {
  margin: 0;
}
#contact-modal img {
  margin-top: 18px;
  margin-bottom: 45.95px;
  transform: translateX(-16.31%);
}
#contact-modal .close-modal {
  display: none;
}
#contact-modal label {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #000;
}
#contact-modal input[type=text],
#contact-modal input[type=email],
#contact-modal input[type=submit] {
  width: 263px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
}
#contact-modal textarea {
  width: 263px;
  height: 210px;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
}
#contact-modal input[type=submit] {
  width: 263px;
  height: 50px;
  background-color: #D8D8D8;
  color: #000;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  border: none;
  cursor: pointer;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* Initialement caché */
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
}

.photo-details-section {
  margin: 38px 146px;
}
.photo-details-section .photo-container {
  display: flex;
  gap: 21px;
  justify-content: center;
}
.photo-details-section .photo-container .photo-details {
  width: 50%;
  border-bottom: 1px solid #000;
  align-self: flex-end;
}
.photo-details-section .photo-container .photo-details_container {
  width: 420px;
  gap: 20px;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  margin-bottom: 37px;
}
.photo-details-section .photo-container .photo-details_container p {
  margin-block-start: 20px;
  margin-block-end: 0;
  font-size: 14px;
  letter-spacing: 1.4px;
}
.photo-details-section .photo-container .photo-details_container .photo-title {
  margin-block: 0;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
}
.photo-details-section .photo-container .photo-image-container {
  width: 50%;
}
.photo-details-section .photo-container .photo-image-container img {
  height: 100%;
  width: 100%;
}
.photo-details-section .cta-and-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo-details-section .cta-and-navigation-container .cta-container {
  display: flex;
  align-items: center;
  gap: 96px;
}
.photo-details-section .cta-and-navigation-container .cta-container .cta-contact-button {
  display: flex;
  width: 272px;
  height: 50px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  font-family: "Space Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.photo-details-section .cta-and-navigation-container .cta-container .cta-contact-button:hover {
  color: #FFF;
  background: #000;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}
.photo-details-section .cta-and-navigation-container .cta-container p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}

.photo-navigation {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 20px;
  border-bottom: 1px solid #000;
}

.nav-previous a,
.nav-next a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #000;
  color: #333;
  width: 25px;
  margin-bottom: 5px;
}

.nav-previous a:hover,
.nav-next a:hover {
  background-color: #ccc;
  color: #fff;
}

.related-photos-section {
  margin-top: 70px;
  /* Styles pour la référence de la photo */
  /* Styles pour la catégorie de la photo */
}
.related-photos-section h3 {
  margin-top: 0px;
  margin-bottom: 52px;
  margin-left: 145px;
  font-family: "Space Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.related-photos-section .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.related-photos-section .photo-item:hover .icon-container {
  display: flex;
  gap: 0px;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de l'overlay semi-transparente */
}
.related-photos-section .photo-info-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: auto;
}
.related-photos-section .fullscreen-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.related-photos-section .photo-reference {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.related-photos-section .photo-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.related-photos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 495px;
  margin-bottom: 109px;
}

.related-photo-thumbnail {
  margin-bottom: 20px;
  width: 564px;
  height: 495px;
  position: relative;
  overflow: hidden;
}

.related-photo-thumbnail a {
  width: 100%;
  height: 100%;
  display: block;
}

.related-photo-thumbnail a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.hero-section {
  height: 966px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.hero-section h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #fff;
  font-family: "Space Mono";
  font-size: 96px;
  font-style: italic;
}
.hero-section p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.filter-section .filter-container {
  display: flex;
  align-items: center;
}
.filter-section .filter-label {
  margin-right: 10px;
  font-size: 16px;
}

#lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.lightbox-navigation {
  position: fixed;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 1001; /* Mettre au-dessus de l'overlay */
}

#lightbox-prev {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#lightbox-next {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#lightbox-close {
  top: 10px;
  right: 10px;
}

#lightbox-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1001; /* Mettre au-dessus de l'overlay */
  display: flex; /* Utiliser Flexbox pour aligner les éléments verticalement */
  flex-direction: column; /* Aligner les éléments en colonne */
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
}

#lightbox-image {
  max-width: 100%;
  max-height: 80vh; /* Hauteur maximale de 80% de la hauteur de la vue */
  align-self: center; /* Centrer l'image horizontalement */
}

#lightbox-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #fff;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  z-index: 1001; /* Mettre au-dessus de l'overlay */
}

.photo-list-section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Styles pour la référence de la photo */
  /* Styles pour la catégorie de la photo */
}
.photo-list-section .photo-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
.photo-list-section .photo-list-container .photo-item {
  margin-bottom: 20px;
  width: 564px;
  height: 495px;
  position: relative;
  overflow: hidden;
}
.photo-list-section .photo-list-container .photo-item .photo-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.photo-list-section .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.photo-list-section .photo-item:hover .icon-container {
  display: flex;
  gap: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
.photo-list-section .photo-info-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: auto;
}
.photo-list-section .fullscreen-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.photo-list-section .photo-reference {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.photo-list-section .photo-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.photo-list-section .load-more-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.photo-list-section .load-more-container button {
  width: 272px;
  height: 50px;
  background-color: #D8D8D8;
  color: #000;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  font-family: "Space Mono";
}
.photo-list-section .load-more-container button:hover {
  color: white;
  background: #000;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}/*# sourceMappingURL=styles.css.map */