@charset "UTF-8";
body {
  margin: auto;
  max-width: 1440px;
}
body #site-navigation-header {
  align-items: center;
  margin: 0 146px;
}
body #site-navigation-header .logo {
  margin-right: auto;
  margin-top: 31px;
  margin-bottom: 35px;
  margin-left: 0px;
}
body #site-navigation-header .logo img {
  width: 216px;
  height: 14px;
}
body #site-navigation-header ul {
  list-style: none;
  display: flex;
  gap: 45px;
  margin-top: 28px;
}
body #site-navigation-header ul a {
  text-decoration: none;
  color: #000;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body .burger-menu {
  display: flex;
}
body .burger-menu-btn {
  display: none;
}
body .filter-section {
  display: flex;
  align-items: center;
  margin-top: 79px;
  margin-left: 144px;
  gap: 36px;
}
body .filter-section .date-filter-section {
  margin-left: 298px;
}
body .filter-section .filter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .filter-section .filter-container .filter-label {
  display: none;
}
body .filter-section .filter-container .custom-dropdown {
  position: relative;
}
body .filter-section .filter-container .custom-dropdown .dropdown-toggle {
  width: 260px;
  height: 42px;
  border-radius: 8px;
  border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
  background: var(--White, #FFF);
  display: flex;
  padding: 11px 18px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  color: var(--Black, #313144);
  /* Drop Menu Menu */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
}
body .filter-section .filter-container .custom-dropdown .dropdown-toggle i {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
body .filter-section .filter-container .custom-dropdown .dropdown-list {
  color: var(--Black, #313144);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
  position: absolute;
  z-index: 1;
  display: none;
  list-style-type: none;
  border-radius: 0px 0px 8px 8px;
  background: var(--White, #FFF);
  width: 260px;
  height: 218px;
  padding-left: 0px;
}
body .filter-section .filter-container .custom-dropdown .dropdown-list.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .filter-section .filter-container .custom-dropdown .dropdown-list.show li {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
}
body .filter-section .filter-container .custom-dropdown .dropdown-list.show li:hover {
  background-color: #FFD6D6;
}
body .filter-section .filter-container .custom-dropdown .dropdown-list.show li:active {
  background-color: #FE5858;
}
body .filter-section .filter-container .custom-dropdown .dropdown-list.show li.selected {
  background-color: #E00000;
}
body #site-navigation-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}
body #site-navigation-footer ul {
  list-style: none;
  display: flex;
}
body #site-navigation-footer ul li {
  margin-right: 86px;
}
body #site-navigation-footer ul a {
  text-decoration: none;
  color: #000;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body #site-navigation-footer .rights-reserved {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  color: #000;
}
body #contact-modal {
  display: none;
  background: white;
  width: 597px;
  height: 769px;
  border: 5px solid #000;
  z-index: 9999;
  overflow: hidden;
  margin: auto;
}
body #contact-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #contact-modal form p {
  margin: 0;
}
body #contact-modal img {
  margin-top: 18px;
  margin-bottom: 45.95px;
  transform: translateX(-16.31%);
}
body #contact-modal .close-modal {
  display: none;
}
body #contact-modal label {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #000;
}
body #contact-modal input[type=text],
body #contact-modal input[type=email],
body #contact-modal input[type=submit] {
  width: 263px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
}
body #contact-modal textarea {
  width: 263px;
  height: 210px;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
}
body #contact-modal input[type=submit] {
  width: 263px;
  height: 50px;
  background-color: #D8D8D8;
  color: #000;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  border: none;
  cursor: pointer;
}
body #overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
}
body .photo-details-section {
  margin: 38px 146px;
}
body .photo-details-section .photo-container {
  display: flex;
  gap: 21px;
  justify-content: center;
}
body .photo-details-section .photo-container .photo-details {
  width: 50%;
  border-bottom: 1px solid #000;
  align-self: flex-end;
}
body .photo-details-section .photo-container .photo-details_container {
  width: 420px;
  gap: 20px;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  margin-bottom: 37px;
}
body .photo-details-section .photo-container .photo-details_container p {
  margin-block-start: 20px;
  margin-block-end: 0;
  font-size: 14px;
  letter-spacing: 1.4px;
}
body .photo-details-section .photo-container .photo-details_container .photo-title {
  margin-block: 0;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
}
body .photo-details-section .photo-container .photo-image-container {
  width: 50%;
}
body .photo-details-section .photo-container .photo-image-container img {
  height: 100%;
  width: 100%;
}
body .photo-details-section .cta-and-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .photo-details-section .cta-and-navigation-container .cta-container {
  display: flex;
  align-items: center;
  gap: 96px;
}
body .photo-details-section .cta-and-navigation-container .cta-container .cta-contact-button {
  display: flex;
  width: 272px;
  height: 50px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  font-family: "Space Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
body .photo-details-section .cta-and-navigation-container .cta-container .cta-contact-button:hover {
  color: #FFF;
  background: #000;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}
body .photo-details-section .cta-and-navigation-container .cta-container p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}
body .photo-navigation {
  display: flex;
  justify-content: right;
  gap: 31px;
  margin-top: 20px;
  border-bottom: 1px solid #000;
}
body .nav-previous a,
body .nav-next a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  width: 25px;
  margin-bottom: 5px;
}
body .related-photos-section {
  margin-top: 70px;
  /* Styles pour la référence de la photo */
  /* Styles pour la catégorie de la photo */
}
body .related-photos-section h3 {
  margin-top: 0px;
  margin-bottom: 52px;
  margin-left: 145px;
  font-family: "Space Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
body .related-photos-section .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
body .related-photos-section .photo-item:hover .icon-container {
  display: flex;
  gap: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
body .related-photos-section .photo-info-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: auto;
}
body .related-photos-section .fullscreen-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
body .related-photos-section .photo-reference {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
body .related-photos-section .photo-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
body .related-photos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 495px;
  margin-bottom: 109px;
}
body .related-photo-thumbnail {
  margin-bottom: 20px;
  width: 564px;
  height: 495px;
  position: relative;
  overflow: hidden;
}
body .related-photo-thumbnail a {
  width: 100%;
  height: 100%;
  display: block;
}
body .related-photo-thumbnail a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body .hero-section {
  height: 966px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
body .hero-section h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #fff;
  font-family: "Space Mono";
  font-size: 96px;
  font-style: italic;
}
body .hero-section p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}
body #lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
body .lightbox-navigation {
  position: fixed;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}
body #lightbox-prev {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
body #lightbox-next {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
body #lightbox-close {
  top: 10px;
  right: 10px;
}
body #lightbox-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #lightbox-image {
  max-width: 100%;
  max-height: 80vh;
  align-self: center;
}
body #lightbox-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #fff;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  z-index: 1001;
}
body .photo-list-section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Styles pour la référence de la photo */
  /* Styles pour la catégorie de la photo */
}
body .photo-list-section .photo-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
body .photo-list-section .photo-list-container .photo-item {
  margin-bottom: 20px;
  width: 564px;
  height: 495px;
  position: relative;
  overflow: hidden;
}
body .photo-list-section .photo-list-container .photo-item .photo-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body .photo-list-section .photo-list-container .photo-item.hovered .icon-container {
  display: flex;
  gap: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
body .photo-list-section .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
body .photo-list-section .photo-info-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: auto;
}
body .photo-list-section .fullscreen-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
body .photo-list-section .photo-reference {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
body .photo-list-section .photo-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
body .photo-list-section .load-more-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
body .photo-list-section .load-more-container button {
  width: 272px;
  height: 50px;
  background-color: #D8D8D8;
  color: #000;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  font-family: "Space Mono";
}
body .photo-list-section .load-more-container button:hover {
  color: white;
  background: #000;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 1300px) {
  body {
    margin: auto;
    max-width: 375px;
  }
  body #site-navigation-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  }
  body #site-navigation-header .logo {
    margin-top: 32px;
    margin-bottom: 31px;
    margin-left: 0px;
  }
  body #site-navigation-header .logo img {
    width: 138px;
    height: 9px;
  }
  body #site-navigation-header .main-menu {
    display: none;
  }
  body #site-navigation-header .burger-menu {
    width: 100%;
    gap: 129px;
    /* ACTIVE BURGER MENU STYLE */
  }
  body #site-navigation-header .burger-menu .burger-menu-btn {
    display: block;
    border: none;
    background-color: white;
    padding-top: 26.576px;
    padding-right: 0px;
    padding-left: 0px;
    width: 27.415px;
    height: 18.848px;
  }
  body #site-navigation-header .burger-menu .main-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1005;
  }
  body #site-navigation-header .burger-menu .main-menu .menu-menu-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #site-navigation-header .burger-menu .main-menu .menu-menu-header-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  body #site-navigation-header .burger-menu .main-menu .menu-menu-header-container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF !important;
    text-align: center !important;
    font-family: "Space Mono" !important;
    font-size: 44px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: uppercase !important;
  }
  body #site-navigation-header .burger-menu .burger-menu-btn.active ~ .main-menu {
    display: flex;
    background: #E00000;
    width: 100%;
    height: 740px;
  }
  body #site-navigation-header .burger-menu .burger-menu-btn.active ~ .main-menu ul {
    display: flex;
    flex-direction: column;
  }
  body #site-navigation-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
    margin-bottom: 60px;
  }
  body #site-navigation-footer ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 44px;
    margin-bottom: 24px;
    gap: 24px;
  }
  body #site-navigation-footer ul li {
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }
  body #site-navigation-footer ul a {
    text-decoration: none;
    align-self: center;
    color: #000;
    font-family: "Space Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  body #site-navigation-footer .rights-reserved {
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
    color: #000;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  body #contact-modal {
    display: none;
    background: white;
    max-width: 286px;
    max-height: 583px;
    border: 3px solid #000;
    z-index: 99999;
    overflow: hidden;
    margin: auto;
  }
  body #contact-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body #contact-modal form p {
    margin: 0;
  }
  body #contact-modal img {
    margin-top: 18px;
    margin-bottom: 14px;
    transform: translateX(-16.31%);
    height: 55px;
  }
  body #contact-modal .close-modal {
    display: none;
  }
  body #contact-modal label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px;
    color: #000;
  }
  body #contact-modal input[type=text],
  body #contact-modal input[type=email],
  body #contact-modal input[type=submit] {
    width: 190px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
  }
  body #contact-modal textarea {
    width: 190px;
    height: 149px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
  }
  body #contact-modal input[type=submit] {
    width: 190px;
    height: 50px;
    background-color: #D8D8D8;
    color: #000;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    border: none;
    cursor: pointer;
  }
  body #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
  }
  body .photo-details-section {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .photo-details-section .photo-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 21px;
    justify-content: center;
  }
  body .photo-details-section .photo-container .photo-image-container {
    display: flex;
    justify-content: center;
    width: auto;
  }
  body .photo-details-section .photo-container .photo-image-container img {
    height: 100%;
    width: 100%;
  }
  body .photo-details-section .photo-container .photo-details {
    width: 100%;
    border-bottom: 1px solid #000;
    align-self: flex-end;
  }
  body .photo-details-section .photo-container .photo-details_container {
    gap: 15px;
    text-transform: uppercase;
    font-family: "Space Mono", sans-serif;
  }
  body .photo-details-section .photo-container .photo-details_container p {
    margin-block-start: 15px;
    margin-block-end: 0;
    color: #000;
    font-family: "Space Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
  body .photo-details-section .photo-container .photo-details_container .photo-title {
    color: #000;
    font-family: "Space Mono";
    font-size: 46px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px; /* 104.348% */
    text-transform: uppercase;
  }
  body .photo-details-section .cta-and-navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #000;
  }
  body .photo-details-section .cta-and-navigation-container .cta-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: normal;
    margin-bottom: 30px;
  }
  body .photo-details-section .cta-and-navigation-container .cta-container .cta-contact-button {
    display: flex;
    width: 272px;
    height: 50px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    align-self: center;
  }
  body .photo-details-section .cta-and-navigation-container .cta-container .cta-contact-button:hover {
    color: #FFF;
    background: #000;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  }
  body .photo-details-section .cta-and-navigation-container .cta-container p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 26px;
    display: flex;
  }
  body .photo-details-section .cta-and-navigation-container .next-photo-thumbnail {
    display: none;
  }
  body .photo-navigation {
    display: none;
    justify-content: right;
    gap: 5px;
    margin-top: 20px;
    border-bottom: 1px solid #000;
  }
  body .nav-previous a,
  body .nav-next a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #000;
    color: #333;
    width: 25px;
    margin-bottom: 5px;
    display: none;
  }
  body .nav-previous a:hover,
  body .nav-next a:hover {
    background-color: #ccc;
    color: #fff;
    display: none;
  }
  body .related-photos-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Styles pour la référence de la photo */
    /* Styles pour la catégorie de la photo */
  }
  body .related-photos-section h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: "Space Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  body .related-photos-section .icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  body .related-photos-section .photo-item:hover .icon-container {
    display: flex;
    gap: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body .related-photos-section .photo-info-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: auto;
  }
  body .related-photos-section .fullscreen-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  body .related-photos-section .photo-reference {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  body .related-photos-section .photo-category {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  body .related-photos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: auto;
    margin-bottom: 24.4px;
    margin-top: 21px;
  }
  body .related-photo-thumbnail {
    margin-bottom: 0px;
    width: 318px;
    height: 279px;
    position: relative;
    overflow: hidden;
  }
  body .related-photo-thumbnail a {
    width: 100%;
    height: 100%;
    display: block;
  }
  body .related-photo-thumbnail a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  body .hero-section {
    max-height: 253px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  body .hero-section h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-family: "Space Mono";
    font-size: 27.588px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  body .hero-section p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
  }
  body #lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  body .lightbox-navigation {
    position: fixed;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
  }
  body #lightbox-prev {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  body #lightbox-next {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  body #lightbox-close {
    top: 10px;
    right: 10px;
  }
  body #lightbox-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #lightbox-image {
    max-width: 100%;
    max-height: 80vh;
    align-self: center;
  }
  body #lightbox-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: #fff;
    font-family: "Space Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    z-index: 1001;
  }
  body .photo-list-section {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Styles pour la référence de la photo */
    /* Styles pour la catégorie de la photo */
  }
  body .photo-list-section .photo-list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 21px;
    justify-content: center;
  }
  body .photo-list-section .photo-list-container > * {
    width: 100%;
  }
  body .photo-list-section .photo-list-container .photo-item {
    margin-bottom: 0px;
    width: 318px;
    height: 279px;
    position: relative;
    overflow: hidden;
  }
  body .photo-list-section .photo-list-container .photo-item .photo-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  body .photo-list-section .photo-list-container .photo-item.hovered .icon-container {
    display: flex;
    gap: 0px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  body .photo-list-section .icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  body .photo-list-section .photo-info-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: auto;
  }
  body .photo-list-section .fullscreen-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  body .photo-list-section .photo-reference {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  body .photo-list-section .photo-category {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  body .photo-list-section .load-more-container {
    text-align: center;
    margin-top: 77px;
    margin-bottom: 12px;
  }
  body .photo-list-section .load-more-container button {
    width: 272px;
    height: 50px;
    background-color: #D8D8D8;
    color: #000;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    font-family: "Space Mono";
  }
  body .photo-list-section .load-more-container button:hover {
    color: white;
    background: #000;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  }
  body .filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-left: 0px;
    gap: 8px;
  }
  body .filter-section .date-filter-section {
    margin-left: 0px;
  }
  body .filter-section .filter-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body .filter-section .filter-container .filter-label {
    display: none;
  }
  body .filter-section .filter-container .custom-dropdown {
    position: relative;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-toggle {
    width: 260px;
    height: 42px;
    border-radius: 8px;
    border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
    background: var(--White, #FFF);
    display: flex;
    padding: 11px 18px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
    color: var(--Black, #313144);
    /* Drop Menu Menu */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.36px;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-toggle i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-list {
    color: var(--Black, #313144);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.36px;
    position: absolute;
    z-index: 1;
    display: none;
    list-style-type: none;
    border-radius: 0px 0px 8px 8px;
    background: var(--White, #FFF);
    width: 260px;
    height: 218px;
    padding-left: 0px;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-list.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-list.show li {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-list.show li:hover {
    background-color: #FFD6D6;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-list.show li:active {
    background-color: #FE5858;
  }
  body .filter-section .filter-container .custom-dropdown .dropdown-list.show li.selected {
    background-color: #E00000;
  }
}/*# sourceMappingURL=styles.css.map */